# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [114]:
data = pd.read_csv('demo01.csv')
data.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [102]:
data.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [103]:
data.isna().sum()
# não há dados faltantes

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [104]:
# variável resposta
pd.get_dummies(data['mau']).sum()

False    16260
True       390
dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [43]:
dados_df = {['nome_variavel':'sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'], ['tipo_dados':'object', 'object', 
       'object', 'int64', 'object', 'object', 'object', 'object', 'float64', 'float64', 'int64', 'int64',
       'int64', 'int64', 'float64', 'bool']}
dados_df

{'nome_variavel': ['sexo',
  'posse_de_veiculo',
  'posse_de_imovel',
  'qtd_filhos',
  'tipo_renda',
  'educacao',
  'estado_civil',
  'tipo_residencia',
  'idade',
  'tempo_emprego',
  'possui_celular',
  'possui_fone_comercial',
  'possui_fone',
  'possui_email',
  'qt_pessoas_residencia',
  'mau'],
 'tipo_dados': ['object',
  'object',
  'object',
  'int64',
  'object',
  'object',
  'object',
  'object',
  'float64',
  'float64',
  'int64',
  'int64',
  'int64',
  'int64',
  'float64',
  'bool']}

In [67]:
metadados = pd.DataFrame(dados_df)
metadados

            nome_variavel tipo_dados
0                    sexo     object
1        posse_de_veiculo     object
2         posse_de_imovel     object
3              qtd_filhos      int64
4              tipo_renda     object
5                educacao     object
6            estado_civil     object
7         tipo_residencia     object
8                   idade    float64
9           tempo_emprego    float64
10         possui_celular      int64
11  possui_fone_comercial      int64
12            possui_fone      int64
13           possui_email      int64
14  qt_pessoas_residencia    float64
15                    mau       bool

In [86]:
# quantidade de categorias por variável

categorias = data.nunique()
categorias

sexo                        2
posse_de_veiculo            2
posse_de_imovel             2
qtd_filhos                  8
tipo_renda                  5
educacao                    5
estado_civil                5
tipo_residencia             6
idade                    5298
tempo_emprego            3005
possui_celular              1
possui_fone_comercial       2
possui_fone                 2
possui_email                2
qt_pessoas_residencia       9
mau                         2
dtype: int64

In [89]:
qnt_cat = []

for i in categorias:
    qnt_cat.append(i)

    
qnt_cat

[2, 2, 2, 8, 5, 5, 5, 6, 5298, 3005, 1, 2, 2, 2, 9, 2]

In [99]:
metadados['qtd_categorias'] = qnt_cat
metadados

            nome_variavel tipo_dados  qtd_categorias
0                    sexo     object               2
1        posse_de_veiculo     object               2
2         posse_de_imovel     object               2
3              qtd_filhos      int64               8
4              tipo_renda     object               5
5                educacao     object               5
6            estado_civil     object               5
7         tipo_residencia     object               6
8                   idade    float64            5298
9           tempo_emprego    float64            3005
10         possui_celular      int64               1
11  possui_fone_comercial      int64               2
12            possui_fone      int64               2
13           possui_email      int64               2
14  qt_pessoas_residencia    float64               9
15                    mau       bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [116]:
data_final = pd.get_dummies(data, columns=['posse_de_veiculo', 'posse_de_imovel', 'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia'], drop_first=True)
data_final.dtypes

sexo                                       object
qtd_filhos                                  int64
idade                                     float64
tempo_emprego                             float64
possui_celular                              int64
possui_fone_comercial                       int64
possui_fone                                 int64
possui_email                                int64
qt_pessoas_residencia                     float64
mau                                          bool
posse_de_veiculo_Y                          uint8
posse_de_imovel_Y                           uint8
tipo_renda_Pensioner                        uint8
tipo_renda_State servant                    uint8
tipo_renda_Student                          uint8
tipo_renda_Working                          uint8
educacao_Higher education                   uint8
educacao_Incomplete higher                  uint8
educacao_Lower secondary                    uint8
educacao_Secondary / secondary special      uint8
estado_civil_Married                        uint8
estado_civil_Separated                      uint8
estado_civil_Single / not married           uint8
estado_civil_Widow                          uint8
tipo_residencia_House / apartment           uint8
tipo_residencia_Municipal apartment         uint8
tipo_residencia_Office apartment            uint8
tipo_residencia_Rented apartment            uint8
tipo_residencia_With parents                uint8
dtype: object

In [117]:
data_final.sexo.unique()

array(['M', 'F'], dtype=object)

In [118]:
data_final.sexo = data_final.sexo.map({'F': 1, 'M':0})
data_final.sexo.unique()

array([0, 1])

In [119]:
data_final.head(2)

,sexo,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,0,58.832877,3.106849,1,0,0,0,2.0,False,...,1,1,0,0,0,1,0,0,0,0
1,1,0,52.356164,8.358904,1,0,1,1,1.0,False,...,1,0,0,1,0,1,0,0,0,0

In [129]:
data_final.mau = data_final.mau.astype(int)
data_final.shape

(16650, 29)

In [127]:
data_final.dtypes

sexo                                        int64
qtd_filhos                                  int64
idade                                     float64
tempo_emprego                             float64
possui_celular                              int64
possui_fone_comercial                       int64
possui_fone                                 int64
possui_email                                int64
qt_pessoas_residencia                     float64
mau                                         int64
posse_de_veiculo_Y                          uint8
posse_de_imovel_Y                           uint8
tipo_renda_Pensioner                        uint8
tipo_renda_State servant                    uint8
tipo_renda_Student                          uint8
tipo_renda_Working                          uint8
educacao_Higher education                   uint8
educacao_Incomplete higher                  uint8
educacao_Lower secondary                    uint8
educacao_Secondary / secondary special      uint8
estado_civil_Married                        uint8
estado_civil_Separated                      uint8
estado_civil_Single / not married           uint8
estado_civil_Widow                          uint8
tipo_residencia_House / apartment           uint8
tipo_residencia_Municipal apartment         uint8
tipo_residencia_Office apartment            uint8
tipo_residencia_Rented apartment            uint8
tipo_residencia_With parents                uint8
dtype: object

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [128]:
pd.crosstab(data_final['possui_email'], data_final['posse_de_veiculo_Y'])

posse_de_veiculo_Y     0     1
possui_email
0                   9341  5829
1                    837   643

In [130]:
pd.crosstab(data_final['possui_email'], data_final['mau'])

mau               0    1
possui_email
0             14810  360
1              1450   30

In [132]:
pd.crosstab(data_final['posse_de_veiculo_Y'], data_final['mau'])

mau                    0    1
posse_de_veiculo_Y
0                   9931  247
1                   6329  143

De acordo com a primeira tabela cruzada, eu escolheria a variável ```possui_email``` como mais poderosa, pois há uma diferença maior entre pessoas que têm ou não têm email (no caso de ```posse_de_veiculo```, a diferença é menos evidente, mas ainda assim, mais pessoas não possuem veículo). Contudo, analisando as duas outras tabelas (comparando cada variável com a variável ```mau```, nenhuma delas parece indicar uma correlação com ser um mau pagador.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [135]:
data_final.to_csv('data_final.csv', sep=';', decimal=',', index=False)